
*.csproj
*.csproj
*.csproj
*.csproj
shortsightedness/Library/assetDatabase3
shortsightedness/Library/AssetImportState
shortsightedness/Library/AssetImportState
shortsightedness/Library/EditorUserBuildSettings.asset
shortsightedness/Library/metadata/18/18183ebfeeab97749b43e38b928604a7
shortsightedness/Library/metadata/31/31e9175024adfd44aba2530ff9b77494
shortsightedness/Library/metadata/34/34845e0ca016b7448842e965db5890a5
shortsightedness/Library/metadata/34/34a460e8a2e66c243a9c12024e5a798d
shortsightedness/Library/metadata/42/42496b74c071f5749950ca1abe33e945
shortsightedness/Library/metadata/44/444ebda7d7a2f204a83732726732a3f5.info
shortsightedness/Library/metadata/4c/4c63bc487e6c29a4a99f85a6c47b292b
shortsightedness/Library/metadata/60/600d6212b59bb40409d19d750b5fd1e9
shortsightedness/Library/metadata/6d/6dba4103d23a7904fbc49099355aff3e
shortsightedness/Library/metadata/8c/8c2fcbdf9bc58664f89917f7b9d79501
shortsightedness/Library/metadata/92/92c63830cd50c0b4fbb8233613839958
shortsightedness/Library/metadata/e1/e1efca7c36fd01840aae0dd10378de5c
shortsightedness/Library/metadata/e4/e4d3e4779e48a374f91d48d4c0aedb7b
shortsightedness/Library/ScriptAssemblies/Assembly-CSharp.dll
shortsightedness/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
shortsightedness/Library/ScriptAssemblies/Unity.Postprocessing.Editor.dll
shortsightedness/Library/ScriptAssemblies/Unity.Postprocessing.Runtime.dll
shortsightedness/Library/ScriptAssemblies/Unity.Rider.Editor.dll
shortsightedness/Library/ScriptAssemblies/Unity.TextMeshPro.dll
shortsightedness/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
shortsightedness/Library/ScriptAssemblies/Unity.Timeline.dll
shortsightedness/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
shortsightedness/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
shortsightedness/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
shortsightedness/Library/ScriptAssemblies/UnityEditor.UI.dll
shortsightedness/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
shortsightedness/Library/ScriptAssemblies/UnityEngine.UI.dll
shortsightedness/Library/ShaderCache/EditorEncounteredVariants
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe0.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe1.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe10.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe11.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe2.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe3.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe4.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe5.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe6.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe7.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe8.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe9.log
shortsightedness/Library/StateCache/Hierarchy/a9dba5-mainStage.json
shortsightedness/Library/StateCache/SceneView/3aa8d5-mainStage.json
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe0.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe1.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe10.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe11.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe2.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe3.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe4.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe5.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe6.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe7.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe8.log
shortsightedness/Library/shadercompiler-UnityShaderCompiler.exe9.log
